@charset "utf-8";

/* reset css
------------------------------------------------ */
html {
  font-size: 62.5%; // 10px
  /*font-size: 75.0%;*/ // 12px
  /*font-size: 87.5%;*/ // 14px
}
body {
  -webkit-text-size-adjust: 100%;
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #000;
}
html, body,
h1, h2, h3, h4, h5, h6,
p, blockquote, address,
ol, ul, li,
dl, dt, dd,
table, th, td,
form, label, input, textarea, select, option, button {
  margin: 0px;
  padding: 0px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-serif;
}
table { border-collapse: collapse; border-spacing: 0; }
ul, ol { list-style: none; }
img { border: none; vertical-align: top; }
input, textarea, select, button { outline:none; }

a:link, a:visited { color: #000; text-decoration: none; }
a:hover, a:active { color: #000; text-decoration: underline; }


/* helpful css
------------------------------------------------ */
.clear { display:block; clear:both; }
br.clear { display:block; clear:both; height:1px; font-size:0px; line-height:1px; }
.cf:after { content:" "; display:block; clear:both; }

$ary: 10 12 14 16 18 20 22;
@each $int in $ary {
  .tx#{$int} { font-size: #{$int}px; font-size: #{$int * 0.1}rem; }
}


@for $i from 1 through 8 {
  .mt#{$i * 10} { margin-top: #{$i * 10}px; }
  .mr#{$i * 10} { margin-right: #{$i * 10}px; }
  .mb#{$i * 10} { margin-bottom: #{$i * 10}px; }
  .ml#{$i * 10} { margin-left: #{$i * 10}px; }
}
